html body select {
  display: inline-block;
} 
select {
  display:block !important;
} 
[disabled] {
  background-color: #ccc !important;   
} 
 
 
.animate {
  transition: all linear 0.5s;
}
.ng-hide {
  height: 0;
}
.item.ng-enter {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}
.item.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}
.item.ng-move {
  -webkit-transition:all linear 1s;
  transition:all linear 1s;
}
.item.ng-enter {
  opacity:0;
}
.item.ng-leave {
  opacity:1;
  height: 100px;
}
.item.ng-leave.ng-leave-active {
  opacity:0;
  height: 0;
}

.item.ng-move {
  opacity: 0;
}
.item.ng-move.ng-move-active  {
  opacity: 1;
}

.item.ng-enter.ng-enter-active {
  color: #4CAF50;  /* .green */
  font-weight: bold;
  font-size: 1.2rem;
  opacity:1;
}
 
.strike {
  text-decoration: line-through;
}

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.side-nav {
  background-color:#D32F2F;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 550px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

#index-banner {
  display: flex;
  align-items: center;

  h1 {
    border-radius: 10px;
  }
}

#apoio-banner {
 h5 {
    border-radius: 10px;
  } 
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.atom-logo { height:60px; }